<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Load files from server</title>
</head>
<body>
    <h3> Load files from server </h3>
    <form th:action="@{/books/files}" method="post">
        <table>
            <th>FileName</th>
            <th>Load</th>
            <tr>
                <td>
                    <select th:name="filename">
                        <option value=""> -- </option>
                        <option th:each="file: ${fileList}"
                                th:value="${file}"
                                th:utext="${file}"/>
                    </select>
                </td>
                <td>
                    <input type="submit" value = "load">
                </td>
            </tr>
        </table>
    </form>
    <br>
    <a th:href="@{/books/shelf}"> return to book's shelf</a>
</body>
</html>